<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuen Satz hinzufügen</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Neuen Satz hinzufügen</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_deutsch">Deutsch:</label>
                {{ form.deutsch }}
            </div>

            <div class="form-group">
                <label for="id_finnisch">Finnisch:</label>
                {{ form.finnisch }}
            </div>

            <!-- Button für den Übersetzungsvorschlag -->
            <button type="button" id="get-translation" class="btn btn-secondary">Übersetzungsvorschlag mit DeepL erstellen</button>
            
            <!-- Übersetzungsvorschlag -->
            <div id="translation-result"></div>
            
            <!-- Übernehmen-Button -->
            <button type="button" id="use-translation" class="btn btn-primary" style="display:none;">Übernehmen</button>

            <div class="form-group">
                <label for="id_merksatz">Merksatz:</label>
                {{ form.merksatz }}
            </div>

            <!-- Speichern-Button -->
            <button type="submit" class="btn btn-primary">Speichern</button>
        </form>
        <a href="{% url 'wort_satz_liste' %}" class="btn btn-secondary">Zurück zur Liste</a>
    </div>

    <script>
        document.getElementById("get-translation").addEventListener("click", function() {
            const deutschesWort = document.getElementById("id_deutsch").value;
            if (deutschesWort.length > 0) {
                fetch(`/get_translation/?text=${deutschesWort}`)
                .then(response => response.json())
                .then(data => {
                    if (data.translation) {
                        document.getElementById("translation-result").innerText = `Vorschlag: ${data.translation}`;
                        document.getElementById("use-translation").style.display = 'inline-block';
                        document.getElementById("use-translation").addEventListener("click", function() {
                            document.getElementById("id_finnisch").value = data.translation;
                        });
                    }
                });
            }
        });
    </script>
</body>
</html>