/* Formularcontainer und Styling */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#translation-result {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #555;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.btn-primary {
    background-color: #28a745;
    margin-top: 15px;
}

.btn-secondary {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 15px;
}

.btn-secondary:hover {
    background-color: #45a049;
}

#use-translation {
    margin-bottom: 25px;
}