/* Allgemeine Stile für die gesamte Seite */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

/* Header */
h1 {
    color: #10454F;
    padding: 20px;
    border-radius: 5px 5px 0 0;  
    text-align: center;
    width: 100%;  
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
   
}

/* Container für den Inhalt der Seite */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}



/* Liste der Wörter und Sätze */
ul {
    list-style-type: none; /* Entfernt die Aufzählungszeichen */
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Responsives Design */
    transition: transform 0.2s;
    border-left: 4px solid #10454F; /* Grüne Linie am Rand */
}

li:hover {
    transform: scale(1.02);
}

.word-block {
    flex: 1;  
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

/* Merksatz */
.merksatz {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border-left: 3px solid #10454F;
    font-style: italic;
    width: 100%;
    box-sizing: border-box;
    clear: both;
}

/* Buttons */
a {
    display: inline-block;
    text-decoration: none;
    background-color: #10454F;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #506266;
}

.btn-danger {
    background-color: #A3AB78;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    
}

.btn-danger:hover {
    background-color: #A3AB78;
}

.show-hint {
    background-color: #818274;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 10px;
}

.show-hint:hover {
    background-color: #A3AB78;
}

button {
    padding: 10px 20px;
    background-color: #BDE038;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #A3AB78;
}

.mode-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.mode-buttons .btn {
    padding: 10px 15px 20px, 10px;
    font-size: 22px;
    text-align: center;
    width: 60%;
    max-width: 200px;
}

.create-button {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5PX;
    margin-bottom: 20px;
    background-color: #BDE038;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #A3AB78;
}

footer {
    margin-top: 20px;
    color: #777;
    text-align: center;
    width: 100%;
}