.vokabel-karte {
    width: 300px;
    height: 200px;
    margin: auto;
    position: relative;
}

.karte {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.karte-vorderseite {
    border-left: 10px solid #ff7f50; /* Orangener Balken auf der Vorderseite */
}

.karte-rueckseite {
    border-left: 10px solid #28a745; /* Grüner Balken auf der Rückseite */
}

/* Spezielle Klasse für den orangefarbenen "Ich weiß es"-Button */
.karten-button-orange {
    background-color: #ff7f50;
    border-color: #ff7f50;
    color: white;
}

.karten-button-orange:hover {
    background-color: #e6733f;
    border-color: #e6733f;
}

/* Standard Button Style für "Weiter" */
.btn-secondary {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.btn-secondary:hover {
    background-color: #218838;
    border-color: #218838;
}

button {
    margin-top: 20px;
}

.vokabel-karte p {
    margin: 10px 0;
    font-size: 1.2em;
}


/* Zentriert die Buttons innerhalb der Karte */
.vokabel-block {
    display: flex;
    flex-direction: column; /* Ordnet die Frage und den Button untereinander an */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Button-Container für Modus-Auswahl */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* Zentriere den gesamten Inhalt auf der Seite */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}


.wort { 
    font-size: 2em !important;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-secondary {
    margin-top: 20px; /* Fügt einen Abstand nach oben hinzu */
}

.zurück-button {
    margin-top: 70px; /* Abstand nach oben */
}